In [1]:
from citipy import citipy
import requests as r
import numpy as np
import json
import time
import matplotlib.pyplot as plt
from random import random, randint
import openweathermapy as ow
import pandas as pd

In [2]:
api_key = 'fd006e30478a34e544f081897dd4111c'
url = "http://api.openweathermap.org/data/2.5/weather?"
units = 'metrics'

In [3]:
query_url = url + 'appid=' + api_key + '&units=' + units + '&q='

In [4]:
random_cities = 500
lat_base = [((np.random.randint(-90, 90))) for _ in range (random_cities)]
long_base = [((np.random.randint(-180, 180))) for _ in range (random_cities)]
lat_long = tuple(zip(lat_base, long_base))

In [5]:
weather_data = []
cities = []
country = []

for lat,lon in lat_long:
    city = citipy.nearest_city(lat,lon)
    city_N = city.city_name
    cities.append(city_N)
    country.append(city.country_code)
    response = r.get(query_url + city_N).json()
    weather_data.append(response)

In [6]:
weather_df = pd.DataFrame({'Cities': cities,
              'Country': country, 'Latitude': lat_base, 'Longitude': long_base })
weather_df.tail()

           Cities Country  Latitude  Longitude
495      saldanha      za       -37          9
496          tezu      in        33         97
497  attawapiskat      ca        60        -87
498     jamestown      sh        -8          0
499    moses lake      us        47       -119

In [7]:
tempature = []
humidity = []
cloudiness = []
wind_speed = []
for city in cities:
    weather_response = r.get(query_url + city_N).json()
    try:
        tempature.append(weather_response['main']['temp'])
        humidity.append(weather_response['main']['humidity'])
        cloudiness.append(weather_response['clouds']['all'])
        wind_speed.append(weather_response['wind']['speed'])
    except:
        print("Skipping")

In [8]:
plotting_data = pd.DataFrame({"Temp": tempature, "Humidity": humidity, "Cdiness": cloudiness, "Speed of Wind": wind_speed})

In [9]:
plt.scatter(weather_data["lon"], weather_data["pressure"], marker="o")

plt.title("Temperature in World Cities")
plt.ylabel("TemperaturE")
plt.xlabel("Latitude")
plt.show()

TypeError: list indices must be integers or slices, not str